<h1 class="page-header">Daily Tasks</h1>
<%= link_to "Today only", :show_tasks => "today" %> | 
<%= link_to "All", :show_tasks => "all" %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_tasks.each do |daily_task| %>
      <tr>
        <td><%= daily_task.name %></td>
        <%= content_tag(:td, truncate(daily_task.description, length: 65), title: daily_task.description) %>
        <td><%= daily_task.duration %></td>
        <td><%= l daily_task.date  %></td>
        <td class="actions-td">
          <%= link_to 'Show', daily_task, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_daily_task_path(daily_task), class: 'btn btn-primary' %>
          <%= link_to 'Destroy', daily_task, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Daily Task', new_daily_task_path, class: 'btn btn-primary' %>
<br />
<br />
Today you did <%= @today_tasks_time %> hour(s).