<%= simple_form_for(@task_log) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :task, label_method: :to_s, collection: @tasks %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :duration %>
    <%= f.input :date, html5: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
